@charset "UTF-8";
@font-face {
  font-family: "AvenirNextRoundedReg";
  src: url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Reg/Avenir Next Rounded w01 Reg.eot");
  src: url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Reg/Avenir Next Rounded w01 Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Reg/Avenir Next Rounded w01 Reg.woff") format("woff"), url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Reg/Avenir Next Rounded w01 Reg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextRoundedMed";
  src: url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Med/Avenir Next Rounded w01 Med.eot");
  src: url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Med/Avenir Next Rounded w01 Med.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Med/Avenir Next Rounded w01 Med.woff") format("woff"), url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Med/Avenir Next Rounded w01 Med.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextRoundedDemi";
  src: url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Demi/Avenir Next Rounded w01 Demi.eot");
  src: url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Demi/Avenir Next Rounded w01 Demi.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Demi/Avenir Next Rounded w01 Demi.woff") format("woff"), url("../fonts/Avenir Next Rounded/Avenir Next Rounded w01 Demi/Avenir Next Rounded w01 Demi.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaReg";
  src: url("../fonts/Proxima Nova/Proxima Nova Reg/Proxima Nova.eot");
  src: url("../fonts/Proxima Nova/Proxima Nova Reg/Proxima Nova.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova/Proxima Nova Reg/Proxima Nova.woff") format("woff"), url("../fonts/Proxima Nova/Proxima Nova Reg/Proxima Nova.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaSemibold";
  src: url("../fonts/Proxima Nova/Proxima Nova Semibold/Proxima Nova Semibold.eot");
  src: url("../fonts/Proxima Nova/Proxima Nova Semibold/Proxima Nova Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Proxima Nova/Proxima Nova Semibold/Proxima Nova Semibold.woff") format("woff"), url("../fonts/Proxima Nova/Proxima Nova Semibold/Proxima Nova Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.heading {
  font: 300 45px/50px "Roboto Condensed", Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.heading-big {
  font: 800 300px/280px "Merriweather", serif;
  color: #fff;
  display: inline-block;
  position: relative;
}

.heading-big :first-letter {
  margin-right: 200px;
}

.heading-big:after {
  content: "";
  display: block;
  width: 215px;
  height: 11px;
  background-color: #fff;
  position: absolute;
  bottom: 15px;
  left: 120px;
}

.heading-big:before {
  content: "";
  display: block;
  width: 44px;
  height: 22px;
  background-color: #fff;
  position: absolute;
  bottom: -5px;
  left: 120px;
}

.heading-sub {
  font: 300 15px/24px "Roboto", Arial, sans-serif;
  color: #fff;
}

.title {
  font: 800 35px/42px "Merriweather", serif;
  color: #fff;
  text-transform: capitalize;
}

.stick-wrap {
  color: #fff;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 7px;
  transform: rotate(-90deg);
  z-index: 10;
}

.stick-lg {
  font: 400 12px/10px "Roboto Condensed", Arial, sans-serif;
}

.stick-sm {
  font: 400 10px/10px "Roboto Condensed", Arial, sans-serif;
  word-spacing: 0;
  letter-spacing: 4px;
}

.left {
  position: absolute;
  left: -60px;
}

.right {
  position: absolute;
  right: 40px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

/*****************************
  All The Base style
******************************/
/* Reset *********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul, ol {
  list-style: none;
  font-size: 0;
  line-height: 0;
}

fieldset,
img {
  border: none;
}

caption,
th {
  text-align: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="buttom"],
input[type="submin"],
input[type="reset"],
button {
  cursor: pointer;
  line-height: normal;
}

button,
input {
  line-height: normal;
}

input[type="hidden"],
[hidden],
.hidden {
  display: none;
}

textarea {
  overflow: auto;
  resize: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary, .clearfix {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

a > img {
  vertical-align: bottom;
}

strong,
b {
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

:focus {
  outline: none;
}

/* Base **********************/
html {
  width: 100%;
  height: 100%;
  background: #fff;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -webkit-bsckface-visibility: hidden;
  background: #fff;
}

.page {
  padding: 45px 0 50px 45px;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.row {
  overflow: hidden;
  *zoom: 1;
}

.row:after {
  content: " ";
  display: table;
  clear: both;
}

[class*="col-"] {
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color 0.15s linear;
  -moz-transition: color 0.15s linear;
  -o-transition: color 0.15s linear;
  transition: color 0.15s linear;
}

h1, h2, h3, h4, h5, h6 {
  color: #324d5b;
}

h1, h2, h3 {
  font-size: 30px;
  line-height: 40px;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  width: 65px;
  height: 65px;
  text-align: center;
  background-color: #cc171e;
  position: absolute;
  top: 175px;
  left: -32px;
  z-index: 10;
}

.logo__link {
  width: 100%;
  font: italic 800 24px/65px "Merriweather", serif;
  color: #fff;
  display: inline-block;
}

.logo__link:hover {
  color: #fff;
  text-decoration: none;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .logo {
    top: 0;
    left: 0;
  }
}

.nav {
  width: 100%;
  margin-top: 75px;
}

.navbar {
  margin: 0 5%;
  /*эмуляция второй строчки, чтобы можно было 
    выравнять текст по значению justify*/
}

.navbar__item {
  margin-right: 40px;
  display: inline-block;
}

.navbar__item:last-child {
  margin-right: 0;
}

.navbar__link {
  font: 300 14px/55px "Roboto", Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.navbar__link:hover {
  color: #cc171e;
  text-decoration: none;
}

.closebtn {
  width: 60px;
  height: 60px;
  padding: 19px;
  font-size: 35px;
  color: #000;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.closebtn:hover {
  text-decoration: none;
}

.nav-closebtn {
  display: none;
}

.social {
  *zoom: 1;
}

.social:after {
  content: " ";
  display: table;
  clear: both;
}

.social__list {
  margin-right: 20px;
  float: left;
}

.social__item {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  display: inline-block;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  width: 45px;
  height: 45px;
  padding: 11px 14px;
  display: block;
  background: #cc171e;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: relative;
}

.social__link:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.social__link:hover:after {
  width: 0;
  height: 0;
}

.fa {
  font-size: 22px;
  color: #fff;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header {
  position: relative;
}

.header:after, .header:before {
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
}

.header:after {
  width: 1px;
  height: 100%;
  top: 0;
  left: 32px;
}

.header:before {
  width: 100%;
  height: 1px;
  top: 239px;
  left: 0;
  z-index: 9;
}

.header-wrap, .footer-wrap {
  background-color: #cc171e;
  position: relative;
}

.header__content, .footer__content {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header-pic {
  display: block;
  margin: 0 auto;
  z-index: 1;
}

.header__top {
  width: 100%;
  padding: 60px 60px 0 0;
  *zoom: 1;
}

.header__top:after {
  content: " ";
  display: table;
  clear: both;
}

.stick-wrap_header-mods {
  color: #b6b6b6;
  word-spacing: 1px;
  letter-spacing: 1px;
  transform: rotate(0deg);
  position: absolute;
  top: -44px;
  left: 50px;
}

.stick-lg_header-mods {
  line-height: 45px;
}

.stick-wrap_header-mods_l {
  top: 560px;
}

.stick-wrap_header-mods_r-b {
  top: 313px;
  right: 25px;
}

.stick-wrap_header-mods_r-t {
  top: 170px;
}

.aside__search,
.modal-wind,
.user {
  margin-right: 5px;
  float: right;
}

.user {
  width: 48px;
  height: 48px;
}

.user__link {
  display: block;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.trigger {
  display: block;
  width: 40px;
  height: 40px;
  padding: 13px;
  cursor: pointer;
  position: relative;
}

.trigger-search {
  position: absolute;
  top: 0;
  right: 0;
}

.aside__search {
  width: 250px;
  height: 40px;
  position: relative;
  overflow: hidden;
}

.search {
  width: 250px;
  position: absolute;
  top: 0;
  left: 250px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-ttransition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search__input {
  width: 100%;
  padding: 12px 45px 12px 12px;
  border: none;
}

.search__submit {
  width: 40px;
  height: 40px;
  background: #cc171e url(../img/search.png) no-repeat center center;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
}

.header__heading, .footer__heading {
  padding: 95px 75px 0 195px;
  *zoom: 1;
}

.header__heading:after, .footer__heading:after {
  content: " ";
  display: table;
  clear: both;
}

.heading-wrap {
  width: 540px;
  float: right;
}

.date-wrap {
  margin-bottom: 10px;
}

.font-style {
  font: 500 14px/14px "Roboto", Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.menu {
  float: left;
}

.menu__item {
  margin-right: 20px;
  padding: 15px 0;
  display: inline-block;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font: 400 13px/13px "Merriweather", serif;
  color: #333;
}

.menu__link:hover {
  color: #333;
  text-decoration: underline;
}

.user__menu {
  float: right;
}

.user__menu__item {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-ttransition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.user__menu__item:nth-child(1), .user__menu__item:nth-child(2) {
  border-left: 1px solid #ebedee;
}

.user__menu__item_colored {
  background-color: #d1232a;
}

.user__menu__item_colored:hover {
  background-color: #922000;
}

.user__menu__item:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #d1232a;
  position: absolute;
  bottom: -1px;
  left: 0;
  display: none;
}

.user__menu__item:hover:after {
  display: block;
}

.user__menu__link {
  padding: 15px 20px 15px 45px;
  font-weight: 700;
  display: block;
}

.user__menu__link-icon {
  width: 23px;
  position: absolute;
  left: 18px;
  top: -4px;
  bottom: 0;
}

.user__menu__link-icon-pic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.user__menu__link_colored {
  color: #fff;
  position: relative;
}

.user__menu__link_colored:hover {
  color: #fff;
}

.user__menu__link:hover {
  text-decoration: none;
}

.user-count {
  color: #ebe26a;
}

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .right {
    right: 15px;
  }
  .stick-wrap_header-mods_r-b {
    right: 0;
  }
  .header__top {
    padding: 60px 35px 0 0;
  }
  .header__heading, .footer__heading {
    padding: 60px 75px 0 150px;
    *zoom: 1;
  }
  .header__heading:after, .footer__heading:after {
    content: " ";
    display: table;
    clear: both;
  }
  .heading {
    font-size: 22px;
    line-height: 37px;
  }
  .heading-big {
    font-size: 210px;
    line-height: 170px;
  }
  .heading-big::first-letter {
    margin-right: 200px;
  }
  .heading-big:after {
    width: 165px;
    height: 9px;
    bottom: -5px;
    left: 85px;
  }
  .heading-big:before {
    width: 30px;
    height: 12px;
    bottom: -17px;
    left: 85px;
  }
  .heading-sub {
    font-size: 11px;
    line-height: 15px;
  }
  .heading-wrap {
    width: 408px;
  }
  .date-wrap {
    margin-bottom: 0;
  }
  .font-style {
    font-size: 12px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .stick-wrap_header-mods_l {
    top: 385px;
  }
  .right {
    right: 5px;
  }
  .stick-wrap_header-mods_r-b {
    right: -10;
  }
  .header__top {
    padding: 30px 25px 0 0;
  }
  .nav {
    display: none;
  }
  .header__heading, .footer__heading {
    padding: 0 0 0 45px;
  }
  .heading {
    font-size: 22px;
    line-height: 37px;
  }
  .heading-big {
    font-size: 200px;
    line-height: 100px;
  }
  .heading-big::first-letter {
    margin-right: 140px;
  }
  .heading-big:after {
    width: 150px;
    height: 9px;
    bottom: -40px;
    left: 80px;
  }
  .heading-big:before {
    width: 30px;
    height: 12px;
    bottom: -50px;
    left: 80px;
  }
  .heading-sub {
    font-size: 11px;
    line-height: 15px;
  }
  .heading-wrap {
    margin-top: 100px;
  }
}

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .page {
    padding: 0;
  }
  .header:before, .header:after {
    display: none;
  }
  .stick-wrap {
    display: none;
  }
  .heading {
    font-size: 22px;
    line-height: 37px;
  }
  .heading-sub {
    font-size: 11px;
    line-height: 15px;
  }
  .heading-big-wrap {
    display: none;
  }
  .heading-wrap {
    margin: 0;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .aside__search {
    width: 40px;
  }
  .heading-wrap {
    width: 320px;
    padding: 10px;
  }
}

.frost-ice {
  padding-top: 20px;
  background-color: #cc171e;
  position: relative;
}

.frost-ice:after {
  content: "";
  display: block;
  width: 1px;
  height: 99.7%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 32px;
}

.title-wrap {
  margin-bottom: 40px;
}

.bordered {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 70px 0 130px 2560px;
  border-color: transparent transparent #11161d transparent;
}

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .title {
    font-size: 25px;
    line-height: 32px;
  }
  .title-wrap {
    padding-left: 35px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .bordered {
    border-width: 70px 0 0px 2560px;
  }
}

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .frost-ice:after {
    width: 0;
  }
}

/* Custom, iPhone Retina */
.slider {
  display: inline-block;
  position: relative;
}

.slider__list--wrap {
  width: 1170px;
  overflow: hidden;
}

.slider__list {
  width: 2900px;
  list-style: none;
  *zoom: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-ttransition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  left: 0;
}

.slider__list:after {
  content: " ";
  display: table;
  clear: both;
}

.slider__item {
  width: 9.5%;
  margin-right: 22px;
  float: left;
}

.slider__item__pic-wrap {
  position: relative;
}

.slider__item-pic {
  min-width: 100%;
}

.slider__item:hover .slider__item-pic__link {
  width: 100%;
  height: 100%;
}

.slider__item-pic__link {
  display: block;
  width: 0%;
  height: 0%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-ttransition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.slider__item-pic__link:after {
  content: "+";
  display: block;
  width: 30px;
  height: 30px;
  padding-top: 14px;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  text-align: center;
  background-color: #cc171e;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.slider__item-content {
  padding: 10px 5px;
}

.slider__item-content__text {
  font: 400 15px/15px "Roboto", Arial, sans-serif;
  color: #fff;
}

.slider__controls-buttons {
  position: absolute;
  top: 50px;
}

.slider__controls-buttons_next {
  left: -100px;
}

.slider__controls-buttons_prev {
  right: -100px;
}

/* The dots/bullets/indicators */
.triggers__item {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.triggers__item:hover, .triggers__item.active {
  background-color: #717171;
}

.blog {
  position: relative;
}

.blog-bg {
  background-color: #f2f2f2;
  position: relative;
}

.blog-bg__pic {
  display: block;
  margin: 0 auto;
}

.blog-wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.blog__content {
  padding: 150px 40px 0 0;
  *zoom: 1;
}

.blog__content:after {
  content: " ";
  display: table;
  clear: both;
}

.blog__content-title {
  width: 40%;
  padding-right: 100px;
  float: left;
}

.blog__content-text {
  width: 30%;
  padding-right: 5px;
  float: left;
}

.blog .pre-title {
  margin-bottom: 15px;
  font: 700 14px/14px "Roboto", Arial, sans-serif;
  text-transform: uppercase;
  color: #4d595e;
  display: block;
}

.blog .pre-title_red {
  color: #d1232a;
}

.blog .post-title {
  margin-top: 15px;
  font: italic 400 20px/30px "Merriweather", serif;
  color: #fff;
  display: block;
}

.text {
  margin-bottom: 20px;
  font: 400 13px/25px "Merriweather", serif;
  color: #fff;
}

.stick-wrap_blog-mods {
  color: rgba(255, 255, 255, 0.5);
  word-spacing: 2px;
  letter-spacing: 0;
  top: 240px;
  right: -30px;
}

.stick-wrap_blog-mods:after {
  content: "";
  display: block;
  width: 30px;
  height: 5px;
  background-color: #d1232a;
  position: absolute;
  top: -15px;
  left: -1px;
}

.blog-slider {
  padding: 50px 0;
  background-color: #f2f2f2;
}

.slider__item_blog-mods {
  width: 12%;
}

.slider__item-content_blog-mods {
  padding: 0;
}

.slider__item-content__wrap {
  padding: 35px 35px;
  background-color: #fff;
}

.slider__item-content__heading {
  font: 800 23px/23px "Merriweather", serif;
  color: #000;
  text-transform: capitalize;
}

.slider__item-content__text_blog-mods {
  margin-top: 10px;
  font: 400 13px/25px "Merriweather", serif;
  color: #697b83;
}

.author {
  padding-left: 35px;
  background-color: #fff;
  border-top: 1px solid #f2f2f2;
  *zoom: 1;
}

.author:after {
  content: " ";
  display: table;
  clear: both;
}

.author__name {
  font: 400 12px/56px "Merriweather", serif;
  color: #d1232a;
}

.author__name-ic {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background: url(../img/link-ic.png) no-repeat center center;
}

.author__link {
  display: inline-block;
  padding: 28px;
  background: #d1232a url(../img/arrow.png) no-repeat center center;
  float: right;
}

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .blog__content {
    padding: 50px 40px 0 0px;
  }
  .blog__content-title {
    padding-right: 75px;
  }
  .text {
    font-size: 12px;
    line-height: 17px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .blog__content-title {
    padding: 0 10px;
  }
  .text {
    font-size: 10px;
  }
}

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .blog__content {
    padding: 20px;
  }
  .blog__content-title {
    width: 100%;
    padding: 0;
  }
  .blog__content-text {
    display: none;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .slider__item_blog-mods {
    width: 11%;
  }
}

.footer {
  height: 1530px;
  margin-top: -1530px;
  padding-left: 45px;
  background-color: #11161d;
  position: relative;
}

.footer-empty {
  height: 1530px;
}

.footer:after, .footer:before {
  content: "";
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
}

.footer:after {
  width: 1px;
  height: 100%;
  top: 0;
  left: 95px;
}

.footer:before {
  width: 100%;
  height: 1px;
  top: 239px;
  right: 0;
  z-index: 9;
}

.footer-wrap {
  background-color: #11161d;
}

.footer-pic {
  display: block;
  margin: 0 auto;
}

.footer__heading {
  padding: 300px 75px 0 195px;
}

.heading-big-footer-mods:after {
  left: 160px;
}

.heading-big-footer-mods:before {
  display: none;
}

.footer__bottom {
  padding-top: 105px;
  position: relative;
}

.footer__bottom-content {
  width: 50%;
  padding-right: 200px;
  float: left;
}

.footer__bottom-content__text {
  margin-bottom: 20px;
  font: 400 13px/25px "Roboto", Arial, sans-serif;
  color: #fff;
}

.footer__bottom-mail {
  width: 50%;
  float: left;
  *zoom: 1;
}

.footer__bottom-mail:after {
  content: " ";
  display: table;
  clear: both;
}

.footer__bottom-mail .mail {
  float: left;
}

.mail {
  width: 70%;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-ttransition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mail__input {
  width: 100%;
  padding: 15px 45px 15px 12px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.mail__submit {
  width: 40px;
  height: 45px;
  background: #fff url(../img/arrowRed.png) no-repeat center center;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.logo_footer-mods {
  top: 110px;
  left: -44px;
}

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .footer {
    height: 1100px;
    margin-top: -1100px;
  }
  .footer-empty {
    height: 1100px;
  }
  .footer:after {
    height: 41%;
  }
  .footer:before {
    width: 94%;
    right: 0;
  }
  .footer__bottom-content {
    width: 35%;
    padding: 0;
    margin-left: 25px;
  }
  .footer__bottom-mail {
    width: 46%;
    margin-left: 71px;
  }
  .social__list {
    margin: 20px 0;
    float: none;
  }
  .mail {
    width: 100%;
    float: none;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .footer__heading {
    padding: 90px 75px 0 70px;
  }
  .heading-big-footer-mods:after {
    left: 105px;
    bottom: -35px;
  }
}

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .footer__heading {
    padding: 100px 0px 0 0px;
  }
  .footer__bottom-content {
    width: 85%;
  }
  .footer__bottom-mail {
    width: 85%;
    margin-left: 0;
  }
}

/* Custom, iPhone Retina */
