.slider {
  display: inline-block;
  position: relative;

  &__list--wrap {
    width: 100%;

    overflow: hidden;
  }

  &__list {
    width: 2000px;
    list-style: none;
    @include clr;
    @include transition;
    position: relative;
    left: 0;
  }

  &__item {
    width: 14%;
    margin-right: 15px;
    float: left;

    &:hover .slider-pic__link {
      width: 100%;
      height: 100%;
    }
  }

  &__pic-wrap {
    position: relative;
  }

  &-pic__link {
    display: block;
    width: 0%;
    height: 0%;
    background-color: fade-out(#fff, .8);
    position: absolute;
    top: 0;
    left: 0;
    @include transition;

    &:after {
      content: "+";
      display: block;
      width: 30px;
      height: 30px;
      padding-top: 14px;
      font-size: 20px;
      font-weight: 800;
      color: #fff;
      text-align: center;
      background-color: $redBg;
      position: absolute;
      right: 10px;
      bottom: 10px;
    }

  }

  &__item-content {
    padding: 10px;
  }

  &__controls-buttons {
    position: absolute;
    top: 50px;
  }

  &__controls-buttons_next {
    right: -100px;
  }

  &__controls-buttons_prev {
    left: -100px;
  }
}

/* The dots/bullets/indicators */
.triggers__item {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

    &:hover, &.active {
    background-color: #717171;
  }
}