//---------------------------//
//Footer --------------------//
//---------------------------//

// html {
//  width: 100%;
//  height: 100%;
// }

// body {
//  width: 100%;
//  height: 100%;
// }

.footer {
  height: 1530px;
  margin-top: -1530px;
  padding-left: 45px;
  background-color: #11161d;
  position: relative;

  &-empty {
    height: 1530px; // задается относительно макета
  }

  &:after, &:before {
    content: "";
    display: block;
    background-color: fade-out(#fff, 0.8);
    position: absolute;
  }

  &:after {
    width: 1px;
    height: 100%;
    top: 0;
    left: 95px;
  }

  &:before {
    width: 100%;
    height: 1px;
    top: 239px;
    right: 0;
    z-index: 9;
  }

  &-wrap {
    @extend .header-wrap;
    background-color: #11161d;
  }

  &__content {
    @extend .header__content;
  }

  &-pic {
    display: block;
    margin: 0 auto;
  }

  &__heading {
    @extend .header__heading;
    padding: 300px 75px 0 195px;
  }
}

.heading-big-footer-mods {
  &:after {
    left: 160px;
  }

  &:before {
    display: none;
  }
}

// footer__bottom ******************************* //

.footer__bottom {
  padding-top: 105px;
  position: relative;

  &-content {
    width: 50%;
    padding-right: 200px;
    float: left;

    &__text {
      margin-bottom: 20px;
      font: 400 13px/25px $ffR;
      color: #fff;
    }
  }

  &-mail {
    width: 50%;
    float: left;
    @include clr;

    .mail {
      float: left;
    }
  }
}

.mail {
  width: 70%;
  position: relative;
  @include transition;

  &__input {
    width: 100%;
    padding: 15px 45px 15px 12px;
    border: none;
    @include br(3px);
  }

  &__submit {
    width: 40px;
    height: 45px;
    background: #fff url(../img/arrowRed.png) no-repeat center center;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    @include br(3px);
  }
}

.logo_footer-mods {
  top: 110px;
  left: -44px;
}